Library
library
Temp
temp
Obj
obj
Build
build
Builds
builds
UserSettings
usersettings
MemoryCaptures
memorycaptures
Logs
logs
Packages
ProjectSettings
.plastic/
.vscode/

Assembly-CSharp.csproj
ignore.conf
ISDN5300.sln
mono_crash.mem.947758.1.blob

Assets/SkySeries Freebie
Assets/SPH.cs
*.meta
*.asset